#page-list {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  #page-list header {
    margin-top: 48px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #page-list header a {
    color: var(--title-color);
    font-weight: bold;
    text-decoration: none;
  
    display: flex;
    align-items: center;
  }
  
  #page-list header a svg {
    margin-right: 16px;
    color: var(--primary-color);
  }
  
  #page-list main {
    flex: 1;
    width: 100%;
    margin: 30px auto;

    background: #FFF;
    border-radius: 8px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }

  #page-list main p {
    font-size: 18px;
    margin: 12px;
    line-height: 38px;
  }

  #page-list main .items-points {
    display: grid;
    width: 100%;
    grid: auto / repeat(3, 1fr);
    grid-gap: 40px 20px;
    padding-left: 25px;
    padding-right: 25px;
    word-wrap: break-word;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #page-list main .items-points .item {

      width: 300px;
  }

  #page-list main .items-points .item img {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }

  #page-list main .items-points .item h2 {
    margin-top: 10px;
  }

  #page-list main .items-points .item p {
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
  }

  #page-list main .items-points .item p span {
    color: #34CB79;
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
  }